body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ol,
ul,
li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

em {
  font-style: normal;
}

@font-face {
  font-family: "iconfont";
  src: url("@/assets/iconfont/iconfont.woff2?t=1681979381054") format("woff2"),
    url("@/assets/iconfont/iconfont.woff?t=1681979381054") format("woff"),
    url("@/assets/iconfont/iconfont.ttf?t=1681979381054") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
